* {
  padding: 0;
  margin: 0;
  --blue: #def2f9;
  --red: #f15e66;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  /* width: 80%; */
  margin: auto;
}
.navbar img {
  width: 8rem;
}
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #565656;
}
.crypto-assets {
  height: calc(100vh - 70px);
  /* background-color: var(--blue); */
  position: relative;
}
.introduction {
  color: white;
}
.introduction p {
  /* font-weight: bold; */
  line-height: 1.5rem;
  color: white;
}

/* .introduction .container {
  width: 80%;
  width: auto;
} */
.crypto-assets .container {
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(4, 25%); */
  height: 100%;
  /* grid-row-gap: 1px; */
  /* grid-column-gap: 1rem; */
}
.fund-container {
  background-color: white;
  width: 100%;
  /* height: 40rem; */
  border-radius: 5px;
  padding: 1rem;
  color: #666666;
  cursor: pointer;
  /* -webkit-box-shadow: 11px 14px 68px -6px rgba(216, 216, 216, 0.58);
  -moz-box-shadow: 11px 14px 68px -6px rgba(216, 216, 216, 0.58);
  box-shadow: 11px 14px 68px -6px rgba(216, 216, 216, 0.58); */
  /* -webkit-box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1);
  -moz-box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1);
  box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1); */
}

.crypto-assets .container div {
  width: 100%;
  transition: all 0.5s ease-out;
  /* margin: 1rem; */
}
/* .fund-container:hover {
  transform: translateY(0.5rem);
} */
.crypto-topic {
  text-align: center;
  color: #666666;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  min-height: calc(100vh - 70px);
  /* display: grid;
  place-items: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* background-color: var(--red); */
}

.invest {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 0;
  background-color: black;
  outline: none;
  color: white;
  transition: all 0.5s ease-out;
}

.invest:hover {
  transform: translateY(0.5rem);
}
.invest a {
  text-decoration: none;
  color: white;
}
.hor-card {
  display: flex;
  justify-content: space-between;
}

.statistic {
  border-radius: 5px;
  min-height: 5rem;
  background-color: var(--blue);
  /* -webkit-box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1);
  -moz-box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1);
  box-shadow: -6px 9px 40px 0px rgba(222, 242, 249, 1); */
  width: 100%;
  margin: 0 0.5rem;
  padding: 1rem;
}

.statistic h3 {
  text-align: end;
  margin-top: 2rem;
}

section {
  background: var(--blue);
  padding: 100px 0;
}

.tab__list {
  display: flex;
  margin-bottom: 24px;
}
.tab__item {
  overflow: hidden;
  cursor: pointer;
  padding: 12px 8px;
  margin-right: 24px;
  text-shadow: 0 0 0.5px currentColor;
  letter-spacing: 1px;
  transition: 0.2s;
  font-size: 18px;
  position: relative;
  color: #777777;
}
.tab__item:before {
  content: "";
  position: absolute;
  top: 95%;
  left: 0;
  height: 2px;
  width: 100%;
  background: #19d9b4;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.tab__item.is--active {
  color: #444;
  position: relative;
}
.tab__item.is--active:before {
  visibility: visible;
  opacity: 1;
}
.tab__content {
  padding: 32px;
  background: #ffffff;
  border-radius: 0 10px 10px;
}
.tab__content-item {
  display: none;
}
.tab__content-item.is--active {
  display: block;
}
.tab__content-title {
  padding: 24px 24px 24px 0;
}

.tab .tab .tab__item {
  font-size: 16px;
}
.tab .tab .tab__content {
  padding: 0;
}
